{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<section><p><h2><u>About</u></h2></p>
    <p>Hi and welcome to my blog. My name is Fulgence, I am an analyst and data science enthusiast based in London. </br> I write about real estate and cities, data mining, Python and Django (not the movie!) programming.</p>
    <p>That's the plan, which also means an endless list of interests in food, photography or basketball won't assert themselves into this site's pages!</p>
    <p>This site was hand-coded with <b>Django </b>, a web development framework based on <b>Python</b>, thanks to numerous open-source, online learning resources.</p></section>
</div>

</div>


{% endblock %}