{% extends "base.html" %}


{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <br><p><h2><u>Work with us</u></h2></p></br>

<ul>

<li> Insights into people and the built environment they live and work in.</li>
<li>Sector expertise includes housing, commercial real estate, logistics and supply chain analysis, retail and FMCG.</li>
<li>Market research, customer segmentation, spatial analysis and geographic information systems.</li>
<li>Market feasibility analysis, impact studies, projects appraisal and financial analysis.</li>
<li>Predictive modelling and forecasting.</li>
<li>Online presence, content management and engagement</li>

</ul>
    <div class='row'>
<br class='col-sm-6 col-sm-offset-3 text-right'>
    <h2><u>Get in touch: </u></h2></br>
    <p><b>Tel: 44(0)7947 197 008</b></p>
    <p><b>E-mail: kayiranga@gmail.com</b></p>

</div>
</section>
</div>

</div>


</div>


{% endblock %}
